
<!--MAIN HERO-->
<div class="wrap" style="background:url(assets/main_hero.jpg) center top no-repeat ;color:#fff;">
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-md-9 col-lg-7">

            <h1>Nestle Expat<br />
            Welcome Committee</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut laboret dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        </div>
	</div>

</div>
</div>
<!--END MAIN HERO-->


<!--MAIN CONTENT-->
    <div class="container">

    <!--Spacer-->
	<div class="row">
		<div class="col-xs-12 hidden-xs">
			<div style="height:40px"></div>
		</div>
	</div>

	<!--3 LINKS-->
	<div class="row">

        <!--MOB SPACER-->
		<div class="col-xs-12 visible-xs">
			<div style="height:20px"></div>
		</div>

        <!--GUIDE LINK-->
		<div class="col-xs-12 col-sm-4">

            <a href="guide.html">
            <div class="image"><img src="assets/guide_image.jpg" class="img-responsive" /></div>
            </a>

			<p style="margin:20px 0 0 0">
				<h2>Guide</h2>
				This guide includes information to better prepare you for your move.
			</p>
			<p class="button" style="margin:25px 0 0 0"><a href="guide.html">Learn More</a></p>
        </div>

        <!--MOB SPACER-->
		<div class="col-xs-12 visible-xs">
			<div style="height:50px"></div>
		</div>

        <!--TRIPS LINK-->
		<div class="col-xs-12 col-sm-4">

            <a href="#">
			<div class="image"><img src="assets/trips_image.jpg" class="img-responsive" /></div>
			</a>

            <p style="margin:20px 0 0 0">
				<h2>Trips</h2>
				Want to explore your new environment? Here's how. Fun things to do and easy trips to take.
			</p>
			<p class="button" style="margin:25px 0 0 0"><a href="#">Learn More</a></p>
		</div>

        <!--MOB SPACER-->
		<div class="col-xs-12 visible-xs">
			<div style="height:50px"></div>
		</div>

        <!--WHO WE ARE LINK-->
		<div class="col-xs-12 col-sm-4">

			<a href="about.html">
            <div class="image"><img src="assets/whoweare_image.jpg" class="img-responsive" /></div>
			</a>

            <p style="margin:20px 0 0 0">
				<h2>Who We Are</h2>
				This link has descriptions of the volunteers involved.
			</p>
			<p class="button" style="margin:25px 0 0 0"><a href="about.html">Learn More</a></p>
		</div>

	<!--Spacer-->
	<div class="row">
		<div class="col-sm-12 hidden-xs">
		<div style="height:60px"></div>
		</div>
	</div>

	</div>
    <!--END 3 LINKS-->

</div>
<!--END MAIN CONTENT-->




<!--SUB FOOTER-->
<div class="footer_wrap">
<div class="container">

    <div class="row">

        <div class="col-xs-2">
            <div class="navwrap">
            Helpful Links
            <ul class="footer_links">
				<li><a href="#">Link #1</a></li>
				<li><a href="#">Link #2</a></li>
				<li><a href="#">Link #3</a></li>
				<li><a href="#">Link #4</a></li>
			</ul>
        	</div>
        </div>

        <div class="col-xs-2">
            <div class="navwrap">
            Helpful Links
            <ul class="footer_links">
				<li><a href="#">Link #1</a></li>
				<li><a href="#">Link #2</a></li>
				<li><a href="#">Link #3</a></li>
				<li><a href="#">Link #4</a></li>
			</ul>
        	</div>
        </div>

        <div class="col-xs-2">
            <div class="navwrap">
            Helpful Links
            <ul class="footer_links">
				<li><a href="#">Link #1</a></li>
				<li><a href="#">Link #2</a></li>
				<li><a href="#">Link #3</a></li>
				<li><a href="#">Link #4</a></li>
			</ul>
        	</div>
        </div>

        <div class="col-xs-6" style="background:#738086; color:#fff">
        	Login
        </div>

	</div>

</div>
</div>
<!--END SUB FOOTER-->
